*.3dsx
*.cia
*.cfa
*.cxi
*.elf
*.lst
*.o
*.t3x
*.smdh
lib/libgame.a

build
backup_cpp/build
resources/OUTPUT
resources/TMP
resources/assets
resources/*.7z
resources/textures.t3s
!resources/patch
!resources/patch.7z

.vscode
.vs
.idea
desktop.ini
