*.3dsx
*.cia
*.elf
*.smdh
*.lst
*.cxi
*.cfa
*.o
*.png
*.t3x

backup_cpp/build
build
lib/libgame.a
resources/OUTPUT
resources/TMP
resources/assets
resources/*.7z
resources/textures.t3s
!resources/patch
!resources/patch.7z

.vscode
.vs
.idea
desktop.ini