*.3dsx
*.cia
*.cfa
*.elf
*.smdh
*.lst
*.o
*.png
*.t3x

build
backup_cpp/build
resources/OUTPUT
resources/TMP
resources/assets
resources/*.7z
resources/textures.t3s
!resources/patch
!resources/patch.7z

.vscode
.vs
.idea
desktop.ini
